<h1><%= @dog.name %></h1>
<% if user_signed_in? && current_user == @dog.user %>
  <%= form_for [@dog, @dog.posts.build] do |form| %>
    <div>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
<ul>
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</ul>
