<h1><%= @dog.name %></h1>

<% if user_signed_in? && current_user == @dog.user %>
  <%= form_for [@dog, @dog.posts.build] do |form| %>
    <%= form.text_area :body, autofocus: true, class: "post_body" %>
    <%= form.button "Save", class: "button" %>
  <% end %>
<% end %>

<% if request.headers['X-Varnish'].present? %>
  <esi:include src="<%= dog_posts_path(@dog) %>" />
<% else %>
  <%= render partial: 'posts/post', collection: @dog.posts.most_recent_first, as: 'post' %>
<% end %>
