<!DOCTYPE html>
<html>
<head>
  <title>Doglog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'Doglog', root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><%= link_to 'Dogs', dogs_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <li class="has-form">
          <%= link_to 'Sign up', new_user_registration_path, class: "button" %>
        </li>
      </ul>
    </section>
  </nav>
  <div class="row">
    <div class="large-12 columns">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </div>

</body>
</html>
